<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Предметы</h2>
  </div>
  <div class="panel-body">
    <div class="list-group">
		<a href="#" class="list-group-item">Математика</a>
		<a href="#" class="list-group-item">Информатика</a>
		<a href="#" class="list-group-item">Русский язык</a>
		<a href="#" class="list-group-item">Английский язык</a>
		<a href="#" class="list-group-item">Немецкий язык</a>
		<a href="#" class="list-group-item">Французский</a>
		<a href="#" class="list-group-item">Испанский язык</a>
		<a href="#" class="list-group-item">Физика</a>
		<a href="#" class="list-group-item">Химия</a>
		<a href="#" class="list-group-item">Биология</a>
		<a href="#" class="list-group-item">География</a>
		<a href="#" class="list-group-item">Обществознание</a>
		<a href="#" class="list-group-item">Литература</a>
		<a href="#" class="list-group-item">История</a>
	</div>
  </div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Название панели</h2>
	</div>
	<div class="panel-body">
	</div>
</div>
